{"ts":"2022-11-30T03:12:39","src":"10.0.0.6","dest":"10.0.0.22","bytes_in":"41498","bytes_out":"35584","dest_port":"80","url":"c.contentsquare.net","uri_query":"c.contentsquare.net:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"CONNECT"}
{"ts":"2022-11-30T03:12:38","src":"10.0.0.13","dest":"10.0.0.11","bytes_in":"6113","bytes_out":"17083","dest_port":"80","url":"c.contentsquare.net","uri_query":"c.contentsquare.net:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"CONNECT"}
{"ts":"2022-11-30T03:12:37","src":"10.0.0.15","dest":"10.0.0.13","bytes_in":"18110","bytes_out":"32971","dest_port":"80","url":"connectivitycheck.gstatic.com","uri_query":"/generate_204","http_status":"204","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.32 Safari/537.36","method":"GET"}
{"ts":"2022-11-30T03:12:37","src":"10.0.0.13","dest":"10.0.0.12","bytes_in":"40176","bytes_out":"32494","dest_port":"80","url":"classify-client.services.mozilla.com","uri_query":"classify-client.services.mozilla.com:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"CONNECT"}
{"ts":"2022-11-30T03:12:37","src":"10.0.0.8","dest":"10.0.0.19","bytes_in":"10864","bytes_out":"21184","dest_port":"80","url":"az764295.vo.msecnd.net","uri_query":"az764295.vo.msecnd.net:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Code/1.71.0 Chrome/102.0.5005.167 Electron/19.0.12 Safari/537.36","method":"CONNECT"}
{"ts":"2022-11-30T03:12:37","src":"10.0.0.15","dest":"10.0.0.4","bytes_in":"21586","bytes_out":"28158","dest_port":"80","url":"classify-client.services.mozilla.com","uri_query":"classify-client.services.mozilla.com:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"CONNECT"}

