{"action":"success","authentication_method":"rdp","ts":"0","src":0,"src_port":29057,"dest":0,"dest_port":3389,"src_user":"acme\\","cert_count":0,"channels_joined":0,"inferences":[]}
{"action":"failure","authentication_method":"rdp","ts":"0","src":0,"src_port":65041,"dest":0,"dest_port":3389,"result":"encrypted","security_protocol":"HYBRID","cert_count":0,"channels_joined":0,"inferences":[]}
{"action":"success","authentication_method":"rdp","ts":"0","src":0,"src_port":49203,"dest":0,"dest_port":3389,"src_user":"adm_wshel","result":"encrypted","security_protocol":"HYBRID_EX","cert_count":0,"auth_success":false,"channels_joined":0,"inferences":[]}
{"action":"failure","authentication_method":"rdp","ts":"0","src":0,"src_port":65029,"dest":0,"dest_port":3389,"src_user":"acme\\","result":"encrypted","security_protocol":"HYBRID","cert_count":0,"auth_success":false,"channels_joined":0,"inferences":[]}
{"action":"success","authentication_method":"rdp","ts":"0","src":0,"src_port":51702,"dest":0,"dest_port":3389,"result":"encrypted","security_protocol":"HYBRID","cert_count":0,"channels_joined":0,"inferences":[]}
{"action":"failure","authentication_method":"rdp","ts":"0","src":0,","src_port":55535,"dest":0,"dest_port":3389,"src_user":"acme\\","cert_count":0,"channels_joined":0,"inferences":[]}
{"action":"success","authentication_method":"rdp","ts":"0","src":0,"src_port":53849,"dest":0,"dest_port":3389,"src_user":"scadacent","result":"encrypted","security_protocol":"HYBRID_EX","cert_count":0,"auth_success":true,"channels_joined":7,"inferences":["APWA"]}
{"action":"failure","authentication_method":"rdp","ts":"0","src":0,"src_port":58305,"dest":0,"dest_port":3389,"src_user":"adm_mpitt","result":"encrypted","security_protocol":"HYBRID_EX","cert_count":0,"auth_success":false,"channels_joined":0,"inferences":[]}
{"action":"success","authentication_method":"rdp","ts":"0","src":0,"src_port":64629,"dest":0,"dest_port":3389,"result":"encrypted","security_protocol":"HYBRID","cert_count":0,"auth_success":false,"channels_joined":0,"inferences":[]}
{"action":"failure","authentication_method":"rdp","ts":"0","src":0,"src_port":55501,"dest":0,"dest_port":3389,"result":"encrypted","security_protocol":"HYBRID_EX","cert_count":0,"auth_success":false,"channels_joined":0,"inferences":[]}
