{"ts":0,"Name":"Microsoft-Windows-Security-Auditing","Guid":"54849625-5478-4994-a5ba-3e3b0328c30d","EventID":"4627","Task":"12554","Keywords":"0x8020000000000000","SystemTime":"2023-01-17T00:51:55.9626723Z","EventRecordID":"1017393","ActivityID":"9534e5c5-2655-0002-57e6-34955526d901","ProcessID":"1076","ThreadID":"9604","Channel":"Security","Computer":0,"SubjectUserSid":"S-1-5-18","SubjectUserName":0,"SubjectDomainName":"WORKGROUP","SubjectLogonId":"0x3e7","TargetUserSid":"S-1-5-18","TargetUserName":"SYSTEM","TargetDomainName":"NT AUTHORITY","TargetLogonId":"0x3e7","LogonType":"5","EventIdx":"1","EventCountTotal":"1","GroupMembership":",BUILTIN\\Administrators,Everyone,NT AUTHORITY\\Authenticated Users,Mandatory Label\\System Mandatory Level"}
{"ts":0,"Name":"Microsoft-Windows-Security-Auditing","Guid":"54849625-5478-4994-a5ba-3e3b0328c30d","EventID":"4627","Task":"12554","Keywords":"0x8020000000000000","SystemTime":"2023-01-17T00:51:55.9626723Z","EventRecordID":"1017393","ActivityID":"9534e5c5-2655-0002-57e6-34955526d901","ProcessID":"1076","ThreadID":"9604","Channel":"Security","Computer":0,"SubjectUserSid":"S-1-5-18","SubjectUserName":0,"SubjectDomainName":"WORKGROUP","SubjectLogonId":"0x3e7","TargetUserSid":"S-1-5-18","TargetUserName":"SYSTEM","TargetDomainName":"NT AUTHORITY","TargetLogonId":"0x3e7","LogonType":"5","EventIdx":"1","EventCountTotal":"1","GroupMembership":",BUILTIN\\Administrators,Everyone,NT AUTHORITY\\Authenticated Users,Mandatory Label\\System Mandatory Level"}
{"ts":0,"Name":"Microsoft-Windows-Security-Auditing","Guid":"54849625-5478-4994-a5ba-3e3b0328c30d","EventID":"4627","Task":"12554","Keywords":"0x8020000000000000","SystemTime":"2023-01-17T00:51:55.9626723Z","EventRecordID":"1017393","ActivityID":"9534e5c5-2655-0002-57e6-34955526d901","ProcessID":"1076","ThreadID":"9604","Channel":"Security","Computer":0,"SubjectUserSid":"S-1-5-18","SubjectUserName":0,"SubjectDomainName":"WORKGROUP","SubjectLogonId":"0x3e7","TargetUserSid":"S-1-5-18","TargetUserName":"SYSTEM","TargetDomainName":"NT AUTHORITY","TargetLogonId":"0x3e7","LogonType":"5","EventIdx":"1","EventCountTotal":"1","GroupMembership":",BUILTIN\\Administrators,Everyone,NT AUTHORITY\\Authenticated Users,Mandatory Label\\System Mandatory Level"}
